{# templates/deck/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1> Flyingcodfish's TTS MTG Deck Factory™<sup><sup>(not really)</sup></sup></h1>
<div> Welcome back. :^) </div>

<div>{{ form(form, {'width': '50%'}) }}</div>
{% endblock %}