{# templates/deck/new.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}

<section>
    <h1 class="title"> Flyingcodfish's TTS MTG Deck Factory™<sup><sup>(not really)</sup></sup></h1>
    <div class="content"> Welcome back. :^) </div>
</section>

<div class="form">{{ form(form) }}</div>
{% endblock %}